@charset "UTF-8";

/*============== Fonts ==========================*/

/*Обнуление*/

* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  -box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
aside {
  display: block;
}

html,
body {
  font-family: 'Montserrat';
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: 400;
}

/*========================= Buttons ========================================*/

.buttons-double {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 480px;
  height: 70px;
  border: 1px solid #FFD234;
  border-radius: 8px;
  font-weight: 400;
  font-size: 22px;
  position: relative;
  padding: 5px 0;
}

.buttons-double__button-one.no-active::after {
  transform: translate(100%, 0);
  transition: all 0.3s ease 0s;
}

.buttons-double__button-one.focus::after {
  box-shadow: inset 0px 4px 6px rgba(0, 0, 0, 0.25);
}

.buttons-double__button-one {
  position: relative;
  z-index: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 0 1 49%;
  height: inherit;
}

.buttons-double__button-one a {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #242424;
  height: 100%;
  width: 100%;
}

.buttons-double__button-one::after {
  content: "";
  background-color: #FFD234;
  border-radius: 8px;
  height: 100%;
  width: 100%;
  top: 0px;
  left: 0%;
  position: absolute;
  z-index: -1;
  transition: all 0.3s ease 0s;
  transform: translate(0%, 0);
}

.buttons-double__button-one:active::after {
  box-shadow: inset 0px 4px 6px rgba(0, 0, 0, 0.25);
}

.buttons-double__button-two {
  cursor: pointer;
  position: relative;
  flex: 0 1 49%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 15px 0;
  z-index: 1;
  border-radius: 8px;
}

.buttons-double__button-two a {
  color: #242424;
}

.button-catalog {
  display: flex;
  align-items: center;
  padding: 0 0 0 15px;
  margin: 60px 0px 0 auto;
  font-size: 22px;
  width: 282px;
  height: 43px;
  background-repeat: no-repeat;
  background-image: url(../img/elements/Button.png);
}

.button-catalog a {
  color: #242424;
}

.button-catalog:hover {
  background-image: url(../img/elements/Button-hover.png);
}

.button-catalog:active {
  background-image: url(../img/elements/Button-active.png);
}

/*========================= h1-h6 ==========================*/

h2 {
  font-weight: 500;
  font-size: 35px;
  line-height: 135.02%;
  position: relative;
  display: inline-block;
}

h2::before {
  content: '';
  position: absolute;
  background-image: url(../img/elements/H2-Line.png);
  background-repeat: no-repeat;
  top: 45px;
  right: 0px;
  height: 17px;
  width: 670px;
}

/*============================= Elements-page ====================================*/

._coube_left {
  position: relative;
}

._coube_left::before {
  content: '';
  position: absolute;
  background-image: url(../img/elements/Сubes.png);
  background-repeat: no-repeat;
  width: 242px;
  height: 103px;
  top: 50%;
  left: -242px;
}

._coube_right {
  position: relative;
}

._coube_right::after {
  content: '';
  position: absolute;
  background-image: url(../img/elements/Cubes-right.png);
  background-repeat: no-repeat;
  width: 272px;
  height: 145px;
  top: 20%;
  right: -272px;
}

._trace-1_right {
  position: relative;
}

._trace-1_right::before {
  position: absolute;
  background-image: url(../img/elements/trace1.png);
  background-size: cover;
  background-repeat: no-repeat;
  width: 630px;
  height: 86px;
  transform: rotate(180deg);
  left: 70%;
  top: 65%;
  content: '';
}

/*=================================================================*/

._container {
  max-width: 1480px;
  margin: 0 auto;
}

.wrapper {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  max-width: 1920px;
  margin: 0 auto;
}

.main {
  position: relative;
}

/*=========================== Header =============================*/

.header__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100px;
  padding: 0 15px;
}

.header__logo {
  position: relative;
  z-index: 5;
}

.header__logo img {
  -o-object-fit: cover;
     object-fit: cover;
}

.header__menu-burger {
  background: rgba(250, 250, 250, 0.7);
  box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.1);
  -webkit-backdrop-filter: blur(10px);
          backdrop-filter: blur(10px);
  z-index: 5;
  padding: 10px 20px;
  border-radius: 10px;
  position: fixed;
  right: 15px;
  top: 25px;
  display: none;
}

.navigation-header.active {
  width: 30%;
  transform: translate(0%, 0);
  transition: all 0.3s ease 0s;
  opacity: 1;
  visibility: visible;
  right: 15px;
}

.navigation-header {
  padding: 0 20px;
  background: rgba(250, 250, 250, 0.9);
  position: fixed;
  right: 20px;
  box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.1);
  font-weight: 400;
  font-size: 17px;
  border-radius: 10px;
  display: flex;
  align-items: center;
  z-index: 10;
}

.navigation-header__search {
  position: relative;
  margin: 0 30px 0 0;
}

.navigation-header__search input {
  border: 0.5px solid #444444;
  width: 187px;
  height: 30px;
  border-radius: 18px;
  padding: 0 0 0 10px;
  font-size: 17px;
  background: none;
}

.navigation-header__btn-search {
  position: absolute;
  background: none;
  left: 85%;
  top: 5px;
}

.navigation-header__phone a {
  color: #444444;
}

.menu-catalog {
  display: flex;
}

.menu-catalog__item {
  margin: 0 38px 0 0;
  padding: 20px 0 20px 0;
}

.menu-catalog__link.active {
  transition: all 0.3s ease 0s;
}

.menu-catalog__link.active::before {
  transform: rotate(-90deg);
}

.menu-catalog__link {
  color: #444444;
  padding: 20px 5px 20px 0;
  height: 100%;
}

.menu-catalog__link:hover {
  color: #FFB800;
}

.menu-catalog__link::before {
  transform: rotate(90deg);
  float: right;
  margin: 3px 0 0 0;
  font-size: 10px;
}

.dropmenu-catalog.active {
  opacity: 1;
  visibility: visible;
  transform: scale(1);
}

.dropmenu-catalog {
  position: absolute;
  border-radius: 10px;
  top: 61px;
  left: 0;
  width: 100%;
  background: rgba(250, 250, 250, 0.7);
  box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.1);
  opacity: 0;
  z-index: 4;
  transform: scaleY(0);
  transform-origin: 0 0;
  transition: .3s ease-in-out;
  visibility: hidden;
}

.dropmenu-catalog__list {
  display: flex;
  flex-wrap: wrap;
  padding: 15px 25px;
  -webkit-backdrop-filter: blur(10px);
          backdrop-filter: blur(10px);
}

.dropmenu-catalog__item {
  flex: 1 1 33.333%;
  padding: 8px 0px;
}

.dropmenu-catalog__link {
  color: #444444;
}

.dropmenu-catalog__link:hover {
  color: #FFB800;
}

/*==================Burger====================*/

.icon-menu {
  width: 40px;
  height: 20px;
  background: none;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.icon-menu::before,
.icon-menu span,
.icon-menu::after {
  left: 0%;
  position: absolute;
  height: 2px;
  width: 40px;
  transition: all 0.3s ease 0s;
  background: #242424;
}

.icon-menu::before,
.icon-menu::after {
  content: '';
}

.icon-menu::before {
  top: 4%;
}

.icon-menu::after {
  bottom: 0%;
}

.icon-menu span {
  top: 46%;
}

.icon-menu.active span {
  transform: scale(0) translate(0, -50%);
}

.icon-menu.active::before {
  top: 50%;
  transform: rotate(-45deg) translate(0px, -50%);
}

.icon-menu.active::after {
  bottom: 50%;
  transform: rotate(45deg) translate(1px, 50%);
}

/*========================= Animation-block =============================*/

.animation-block-header {
  margin: -100px  0 0 0;
  height: 900px;
  overflow: hidden;
  max-width: 1960px;
}

.animation-block-header__container {
  float: right;
  margin: -650px -40px 0 0px;
  transform: rotate(-30deg);
}

.animation-block-header__content {
  display: flex;
  position: relative;
  z-index: 3;
}

.animation-block-header__item {
  margin: 0 6px;
  position: relative;
  height: 1350px;
}

.animation-block-header__image.active img {
  transform: scale(1.2);
}

.animation-block-header__image {
  width: 268px;
  height: 100%;
  overflow: hidden;
  border-radius: 0px 0px 40px 40px;
}

.animation-block-header__image img {
  transform: scale(1.04);
  transition: all 0.8s ease 0s;
}

.animation-block-header__top-image {
  position: absolute;
  top: 55%;
  left: 2%;
  transform: rotate(30deg);
}

.animation-block-header__buldozer-image.active {
  transform: translate(0%, 0%);
  transition: all 0.5s ease 0s;
}

.animation-block-header__buldozer-image {
  transform: translate(140%, 0%);
  transition: all 0.5s ease 0s;
}

.animation-block-header__katok-image.active {
  transform: translate(10%, -5%);
  transition: all 0.5s ease 0s;
}

.animation-block-header__katok-image {
  transform: translate(140%, -5%);
  transition: all 0.5s ease 0s;
}

.animation-block-header__pogruzchik-image.active {
  transform: translate(10%, -5%);
  transition: all 0.5s ease 0s;
}

.animation-block-header__pogruzchik-image {
  transform: translate(140%, -5%);
  transition: all 0.5s ease 0s;
}

.animation-block-header__background.active {
  top: -60%;
  transition: all 0.7s ease 0s;
}

.animation-block-header__background {
  position: absolute;
  top: 0px;
  width: 270px;
  height: 100%;
  border-radius: 0px 0px 40px 40px;
  background: linear-gradient(179.77deg, #FFD234 41.14%, #FFDE69 99.16%);
  transition: all 0.7s ease 0s;
  margin: 1px 0 0 -1px;
}

.animation-block-header__mouseover {
  position: absolute;
  top: 0px;
  width: 270px;
  height: 100%;
  z-index: 5;
}

/*=========================== Present (section) =============================*/

.present {
  max-width: 1470px;
  margin: 0 auto;
}

.present__container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 890px;
  top: 0;
  position: absolute;
  z-index: 1;
  padding: 0 15px;
}

.present__title {
  max-width: 800px;
  font-weight: 600;
  font-size: 42px;
  line-height: 137%;
  letter-spacing: 0.01em;
  position: relative;
  z-index: -1;
}

.present__text {
  margin: 45px 0 0 0;
  max-width: 710px;
  font-size: 19px;
  line-height: 150%;
  font-weight: 500;
}

.present__buttons {
  margin: 75px 0 0 0;
}

/*=========================== About (section) =============================*/

.about {
  overflow: hidden;
  padding: 60px 0;
}

.about__container {
  padding: 0 20px;
}

.about__container::before {
  left: -220px;
}

.about__title._active {
  transform: translate(0%, 0);
  transition: all 0.8s ease 0s;
}

.about__title {
  margin: 0 0 40px 0;
  transform: translate(-150%, 0);
  transition: all 0.8s ease 0s;
}

.about__content {
  display: flex;
  justify-content: space-between;
}

.about__text._active {
  transition: all 1s ease 0s;
  transform: translate(0%, 0);
}

.about__text {
  transform: translate(-100%, 0);
  flex: 1 1 50%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  font-weight: 300;
  font-style: normal;
  line-height: 150%;
  letter-spacing: 0.03em;
  font-size: 18px;
  padding: 30px 100px 10px 0px;
}

.about__text p {
  padding: 5px 0;
}

.about__image {
  flex: 1 1 auto;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.about__image img {
  -o-object-fit: auto;
     object-fit: auto;
  width: 660px;
  height: auto;
}

.image-about__background._active::before {
  transition: all 1.8s ease 0s;
  transform: translate(0%, 0%);
}

.image-about__background._active::after {
  transition: all 1.8s ease 0s;
  transform: translate(0%, 0%);
}

.image-about__background {
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
  position: relative;
}

.image-about__background::before {
  content: '';
  width: 518px;
  height: 266px;
  top: -30px;
  right: -45px;
  border-top: 3px solid #FFD234;
  border-right: 3px solid #FFD234;
  position: absolute;
  transition: all 1.8s ease 0s;
  transform: translate(100%, 0%);
}

.image-about__background::after {
  content: '';
  bottom: -35px;
  width: 606px;
  height: 212px;
  border-bottom: 3px solid #FFD234;
  border-left: 3px solid #FFD234;
  left: -45px;
  position: absolute;
  transition: all 1.8s ease 0s;
  transform: translate(-100%, 0%);
}

/*=========================== Category-technic (section) =============================*/

.category-technic {
  overflow: hidden;
  padding: 60px 0;
  position: relative;
  width: auto;
}

.category-technic::before {
  content: '';
  position: absolute;
  background-image: url(../img/elements/Tire-Line-2.png);
  background-repeat: no-repeat;
  background-size: auto;
  background-position-x: 20%;
  background-position-y: 120px;
  width: 100%;
  height: 100%;
  top: 0%;
  left: 0%;
  z-index: 1;
}

.category-technic::after {
  content: '';
  position: absolute;
  background-image: url(../img/elements/Tire-Line-1.png);
  background-repeat: no-repeat;
  background-size: auto;
  width: 100%;
  height: 100%;
  top: 0px;
  background-position: center;
  background-position-x: 800px;
  z-index: 0;
}

.category-technic__container {
  position: relative;
  z-index: 1;
  padding: 0 0 60px 0;
}

.category-technic__title {
  padding: 0 15px;
}

.category-technic__text {
  font-weight: 300;
  font-size: 18px;
  margin: 50px 15px 30px 15px;
}

.category-technic__content {
  display: flex;
  flex-wrap: wrap;
  justify-content: start;
  position: relative;
}

.category-technic__content::before {
  top: 73%;
}

.item-categoty-technic {
  margin: 20px 12px 0 12px;
  padding: 8px 0px 0 0px;
  flex: 0 1 272px;
  min-height: 300px;
  background: #FFFFFF;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.25);
  border-radius: 3px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-weight: 500;
  font-size: 18px;
  color: #242424;
}

.item-categoty-technic:hover {
  color: #FFB800;
}

.item-categoty-technic__image {
  flex: 1 1 auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.item-categoty-technic__text {
  padding: 10px 0 40px 0;
  text-align: center;
}

.advantages-block {
  position: relative;
  z-index: 3;
  padding: 80px 0 60px 0;
  background: #F8F8F8;
}

.advantages-block__container {
  display: flex;
  justify-content: center;
}

.advantages-block__item._active:nth-child(1) {
  transform: translate(0%, 0);
  opacity: 1;
}

.advantages-block__item._active:nth-child(2) {
  transform: translate(0%, 0);
  opacity: 1;
}

.advantages-block__item._active:nth-child(3) {
  transform: translate(0%, 0);
  opacity: 1;
}

.advantages-block__item._active:nth-child(4) {
  transform: translate(0%, 0);
  opacity: 1;
}

.advantages-block__item._active:nth-child(5) {
  transform: translate(0%, 0);
  opacity: 1;
}

.advantages-block__item {
  flex: 0 1 280px;
  min-height: 210px;
  border-right: 1.5px solid #D9D9D9;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
}

.advantages-block__item:last-child {
  border-right: none;
}

.advantages-block__item:nth-child(5) {
  transition: all 2.5s ease 0s;
  transform: translate(0%, 50%);
  opacity: 0;
}

.advantages-block__item:nth-child(4) {
  transition: all 2s ease 0s;
  transform: translate(0%, 50%);
  opacity: 0;
}

.advantages-block__item:nth-child(3) {
  transition: all 1.5s ease 0s;
  transform: translate(0%, 50%);
  opacity: 0;
}

.advantages-block__item:nth-child(2) {
  transition: all 1s ease 0s;
  transform: translate(0%, 50%);
  opacity: 0;
}

.advantages-block__item:nth-child(2) .advantages-block__icon {
  margin: -40px 0 0 40px;
}

.advantages-block__item:nth-child(1) {
  transition: all 0.5s ease 0s;
  transform: translate(0%, 50%);
  opacity: 0;
}

.advantages-block__item:nth-child(1) .advantages-block__icon {
  margin: -40px 0 0 40px;
}

.advantages-block__number {
  margin: -40px auto 0 0;
  font-weight: 700;
  font-size: 92px;
  color: rgba(184, 184, 184, 0.15);
  letter-spacing: -0.09em;
  padding: 0 0 0 10px;
}

.advantages-block__icon {
  margin: -40px 0 0 0;
  min-height: 95px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.advantages-block__icon img {
  height: auto;
}

.advantages-block__text {
  padding: 0 24px;
  font-weight: 300;
  font-size: 18px;
  line-height: 135.02%;
  margin: 35px 0 0 0;
}

.block-text-category {
  background: #FFFFFF;
  position: relative;
  z-index: 1;
  padding: 40px 0 0 0;
}

.block-text-category__title {
  font-weight: 500;
  font-size: 24px;
  margin: 20px 0 20px 0;
  padding: 0 20px;
}

.block-text-category__text {
  letter-spacing: 0.03em;
  font-weight: 300;
  font-size: 18px;
  line-height: 21px;
  padding: 0 20px;
}

.block-text-category__list {
  padding: 0 20px;
}

.block-text-category__point {
  padding: 0 0 20px 20px;
  position: relative;
}

.block-text-category__point::before {
  content: '';
  position: absolute;
  width: 3px;
  height: 3px;
  border-radius: 50%;
  background: #242424;
  left: 5px;
  top: 8px;
}

/*=========================== Category-technic (section) =============================*/

.technic-park {
  overflow: hidden;
}

.technic-park__container {
  padding: 0 0 120px 0;
}

.technic-park__title {
  padding: 0 20px;
}

.technic-park__image {
  margin: 0 auto 60px auto;
  height: 99px;
  max-width: 1920px;
  position: relative;
}

.technic-park__image::before {
  position: absolute;
  content: '';
  background-image: url(../img/technic-park/line-technick-left.png);
  background-repeat: no-repeat;
  background-size: auto;
  width: 280px;
  height: inherit;
  left: 0;
  z-index: 1;
}

.technic-park__image::after {
  position: absolute;
  content: '';
  background-image: url(../img/technic-park/line-technick.png);
  background-repeat: no-repeat;
  background-size: auto;
  width: 310px;
  height: inherit;
  right: -40px;
  top: 0;
  z-index: 1;
}

.technic-park__background {
  overflow: hidden;
  height: inherit;
  background: #FFD234;
  max-width: 1440px;
  margin: 0 auto;
}

.technic-park__brands {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 1370px;
  margin: 0 auto;
  height: inherit;
  background-image: url(../img/technic-park/Brands.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: auto;
  position: relative;
  -webkit-animation: marquee 7.5s infinite linear;
          animation: marquee 7.5s infinite linear;
}

.technic-park__brands::after {
  position: absolute;
  content: '';
  background-image: url(../img/technic-park/Brands.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: auto;
  width: 100%;
  height: 100px;
  transform: translate(110%, 0);
}

@-webkit-keyframes marquee {
  0% {
    transform: translateX(0);
  }

  100% {
    transform: translateX(-110%);
  }
}

@keyframes marquee {
  0% {
    transform: translateX(0);
  }

  100% {
    transform: translateX(-110%);
  }
}

/*=========================== Services (section) =============================*/

.services {
  padding: 60px 0;
  overflow: hidden;
}

.services__container {
  position: relative;
}

.services__container::after {
  top: 5%;
  right: -252px;
}

.services__title {
  padding: 0 20px;
}

.services__text {
  max-width: 887px;
  margin: 50px 0 0 0;
  font-weight: 300;
  font-size: 18px;
  line-height: 135.02%;
  letter-spacing: 0.03em;
  padding: 0 20px;
}

.services__content {
  padding: 50px 0 60px 0;
}

.services__button {
  color: #242424;
}

.slider-services {
  position: relative;
}

.slider-services::before {
  position: absolute;
  content: '';
  background-image: url(../img/elements/tire-left.png);
  background-repeat: no-repeat;
  background-size: auto;
  width: 404px;
  height: 72px;
  top: 61%;
  left: -224px;
}

.slider-services__container {
  max-width: 1440px;
  margin: 0 auto;
  overflow: hidden;
}

.slider-services__slide {
  background: #FFFFFF;
}

.slider-services__button-next {
  cursor: pointer;
  position: absolute;
  top: 41%;
  right: -50px;
  width: 30px;
  height: 30px;
  background-image: url(../img/icon-svg/chevron-right.svg);
  background-repeat: no-repeat;
  background-size: auto;
}

.slider-services__button-prev {
  cursor: pointer;
  position: absolute;
  content: '';
  background-image: url(../img/icon-svg/chevron-left.svg);
  background-repeat: no-repeat;
  background-size: auto;
  width: 30px;
  height: 30px;
  top: 41%;
  left: -50px;
}

.swiper-wrapper {
  position: relative;
  max-width: 1430px;
  height: auto;
}

.swiper-slide {
  padding: 0 0 0 1px;
}

.slide-services {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 272px;
  height: 300px;
  color: #242424;
}

.slide-services:hover {
  color: #FFB800;
}

.slide-services__image-container {
  overflow: hidden;
  width: 272px;
}

.slide-services__image {
  border-radius: 3px 3px 0px 0px;
  -o-object-fit: auto;
     object-fit: auto;
  height: auto;
  transition: all 0.3s ease 0s;
  transform: scale(1);
}

.slide-services__image:hover {
  transform: scale(1.1);
  background: #000;
  opacity: 0.7;
}

.slide-services__text {
  width: 272px;
  background: #FFFFFF;
  text-align: center;
  margin: 10px 0 0 0;
  padding: 25px 0 25px 0;
  font-size: 18px;
  letter-spacing: 0.03em;
  border-bottom: 2px solid #FFD234;
  border-left: 2px solid #FFD234;
}

/*=========================== Form =============================*/

.form {
  overflow: hidden;
  padding: 60px 0;
  background: #FFD234;
  max-width: 1920px;
  margin: 0 auto;
}

.form__container {
  display: flex;
  justify-content: center;
}

.form__text-block {
  margin: 0 145px 0 0;
}

.form__title {
  font-weight: 500;
  font-size: 35px;
  line-height: 135.02%;
  letter-spacing: 0.03em;
  padding: 0 20px;
}

.form__text {
  margin: 30px 0 0 0;
  font-weight: 300;
  font-size: 18px;
  line-height: 135.02%;
  letter-spacing: 0.03em;
  max-width: 536px;
  padding: 0 20px;
}

.form__input-block._active::before {
  transform: translate(0%, 0%);
}

.form__input-block {
  padding: 0 20px 0 0;
  position: relative;
}

.form__input-block::before {
  content: '';
  position: absolute;
  background-image: url(../img/form/excovator.png);
  background-repeat: no-repeat;
  background-size: auto;
  width: 687px;
  height: 342px;
  top: -25px;
  right: -660px;
  transform: translate(100%, 0);
  transition: all 1s ease 0s;
}

.form__placeinput.active::before {
  transform: rotate(-90deg);
}

.form__placeinput {
  position: relative;
  max-width: 370px;
  margin: 0 0px 20px 0;
}

.form__placeinput::before {
  position: absolute;
  top: 17px;
  color: #999999;
  transform: rotate(90deg);
  right: 20px;
  font-size: 10px;
}

.form__background-input {
  background-color: #FFFFFF;
  border-radius: 3px;
}

.form__input {
  position: relative;
  z-index: 2;
  width: 330px;
  height: 42px;
  background: none;
  border-radius: 3px;
  font-size: 16px;
  padding: 0 20px;
  color: #242424;
}

.form__input:focus {
  box-shadow: 0 0 10px 5px rgba(255, 255, 255, 0.4);
}

.form__placeholder {
  position: absolute;
  font-size: 16px;
  letter-spacing: 0.03em;
  color: #999999;
  top: 14px;
  left: 20px;
  transition: all 0.3s ease 0s;
}

.form__placeholder span {
  color: red;
}

.form__placeholder.focus {
  top: 2px;
  left: 5px;
  transition: all 0.3s ease 0s;
  font-size: 12px;
}

.form__input-select {
  cursor: pointer;
  width: 370px;
  height: 42px;
  font-size: 16px;
  text-align: start;
  padding: 0 20px;
  color: #242424;
  background: #FFFFFF;
  border-radius: 3px;
}

.form__select-list.open {
  transform: scaleY(1);
  transition: .1s ease-in-out;
  visibility: visible;
}

.form__select-list {
  position: absolute;
  background: #FFFFFF;
  border-radius: 3px;
  width: 100%;
  margin: 5px 0 0 0;
  z-index: 5;
  padding: 5px 0;
  max-height: 160px;
  overflow: scroll;
  overflow-x: hidden;
  transform: scaleY(0);
  transform-origin: 0 0;
  transition: .1s ease-in-out;
  visibility: hidden;
}

.form ::-webkit-scrollbar {
  width: 5px;
}

.form ::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
}

.form ::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background: rgba(230, 230, 230, 0.8);
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.5);
}

.form__select-item {
  cursor: pointer;
  padding: 10px 0 10px 20px;
  font-size: 16px;
}

.form__select-item:hover {
  background: #f1f1f1;
}

.form__button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 235px;
  height: 60px;
  background: #FFFFFF;
  border-radius: 8px;
  font-size: 22px;
}

.form__button:hover {
  box-shadow: 0 0 10px 5px rgba(255, 255, 255, 0.4);
}

.form__button:active {
  box-shadow: inset 0px 4px 6px rgba(0, 0, 0, 0.25);
}

.check-form {
  display: flex;
  margin: 0 0px 20px 0;
}

.check-form__text {
  margin: 0 0 0 10px;
  font-weight: 400;
  font-size: 16px;
  line-height: 135.02%;
  letter-spacing: 0.03em;
}

.check-form__icon.active::before {
  position: absolute;
  content: '';
  background-image: url(../img/icon-svg/check.svg);
  background-repeat: no-repeat;
  background-size: auto;
  top: 5px;
  left: 3px;
  width: 100%;
  height: 12px;
}

.check-form__icon {
  cursor: pointer;
  width: 20px;
  height: 20px;
  background: #FFFFFF;
  border-radius: 2px;
  position: relative;
}

.check-form__icon:active {
  background: #eeeded;
}

/*=========================== Footer =============================*/

.footer {
  padding: 50px 0 60px 0;
}

.footer__container {
  padding: 0 20px;
  display: flex;
  justify-content: space-between;
}

.footer__row {
  display: flex;
  flex: 1 1 auto;
}

.footer__contants-column {
  flex: 0 1 270px;
  margin: 0 210px 0 0;
}

.footer__logo {
  width: 270px;
}

.footer__logo img {
  width: 100%;
}

.footer__button {
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 25px 0 0 0;
  font-weight: 300;
  font-size: 15px;
  border: 1px solid #FFD234;
  border-radius: 3px;
  height: 35px;
  color: #242424;
  position: relative;
  padding: 0 0 0 40px;
}

.footer__button::before {
  content: '';
  position: absolute;
  background-repeat: no-repeat;
  background-size: contain;
  width: 22px;
  height: 22px;
  left: 20px;
  top: 6px;
  background-image: url(../img/icon-svg/phone.svg);
}

.footer__button:hover {
  font-weight: 400;
}

.footer__button:hover::before {
  -webkit-animation: 1.2s ease-in-out 0s normal none infinite running trambling;
          animation: 1.2s ease-in-out 0s normal none infinite running trambling;
}

.footer__button:active {
  box-shadow: inset 0px 4px 6px rgba(0, 0, 0, 0.25);
}

.footer__copyright {
  margin: 25px 0 0 0;
  font-size: 12px;
}

.footer__company-column {
  flex: 0 1 270px;
}

.footer__title.active::before {
  transform: rotate(-90deg);
}

.footer__title {
  font-weight: 600;
  font-size: 17px;
  letter-spacing: 0.01em;
}

.footer__title::before {
  display: none;
}

.footer__list.active {
  transition: .3s ease-in-out;
  transform: scaleY(1);
  opacity: 1;
  visibility: visible;
  position: relative;
}

.footer__list {
  margin: 0 0 25px 0;
  font-weight: 500;
  font-size: 15px;
  letter-spacing: 0.01em;
}

.footer__item {
  margin: 20px 0 0 0;
}

.footer__link {
  color: #242424;
}

.footer__link:hover {
  color: #FFD234;
}

.footer__technic-column {
  flex: 0 1 270px;
}

.footer__link-catalog {
  font-weight: 600;
  font-size: 15px;
  color: #242424;
}

.footer__services-column {
  flex: 1 1 270px;
}

.social {
  display: flex;
  justify-content: space-between;
  margin: 20px 0 0 0;
}

.social__telegramm:hover {
  -webkit-animation: 1.2s ease-in-out 0s normal none infinite running trambling;
          animation: 1.2s ease-in-out 0s normal none infinite running trambling;
}

.social__whatsap:hover {
  -webkit-animation: 1.2s ease-in-out 0s normal none infinite running trambling;
          animation: 1.2s ease-in-out 0s normal none infinite running trambling;
}

.social__viber:hover {
  -webkit-animation: 1.2s ease-in-out 0s normal none infinite running trambling;
          animation: 1.2s ease-in-out 0s normal none infinite running trambling;
}

.social__vkontakte:hover {
  -webkit-animation: 1.2s ease-in-out 0s normal none infinite running trambling;
          animation: 1.2s ease-in-out 0s normal none infinite running trambling;
}

@-webkit-keyframes trambling {
  0%, 50%, 100% {
    transform: rotate(0deg);
  }

  10%, 30% {
    transform: rotate(-10deg);
  }

  20%, 40% {
    transform: rotate(10deg);
  }
}

@keyframes trambling {
  0%, 50%, 100% {
    transform: rotate(0deg);
  }

  10%, 30% {
    transform: rotate(-10deg);
  }

  20%, 40% {
    transform: rotate(10deg);
  }
}

@media (min-width: 440px) {
  .slider-services__container {
    max-width: 274px;
  }

  .slider-services__button-next {
    right: 15px;
  }

  .slider-services__button-prev {
    left: 15px;
  }
}

@media (min-width: 550px) {
  .slider-services__button-next {
    right: 75px;
  }

  .slider-services__button-prev {
    left: 75px;
  }
}

@media (min-width: 700px) {
  .slider-services__container {
    max-width: 600px;
  }

  .slider-services__button-next {
    right: 15px;
  }

  .slider-services__button-prev {
    left: 15px;
  }
}

@media (min-width: 992px) {
  .slider-services__container {
    max-width: 900px;
  }
}

@media (min-width: 1070px) {
  .menu-catalog__item.expand {
    display: block;
  }
}

@media (min-width: 1250px) {
  .slider-services__container {
    max-width: 1150px;
  }
}

@media (min-width: 1600px) {
  .navigation-header {
    right: auto;
    left: auto;
    margin: 0 0 0 455px;
  }
}

@media (min-width: 1601px) {
  .slider-services__container {
    max-width: 1440px;
  }

  .slider-services__button-next {
    right: -50px;
  }

  .slider-services__button-prev {
    left: -50px;
  }
}

@media (min-width: 1920px) {
  .animation-block-header {
    max-width: 2560px;
  }

  .animation-block-header__container {
    margin: -650px -50px 0 0px;
  }

  .about__title::before {
    width: 340px;
    background-position: right;
  }

  .technic-park__title::before {
    width: 490px;
    background-position: right;
  }

  .technic-park__image::after {
    right: 0;
  }

  .services__title::before {
    width: 390px;
    background-position: right;
  }
}

@media (min-width: 1921px) {
  .wrapper {
    max-width: 2560px;
  }
}

@media (min-width: 2150px) {
  .animation-block-header__buldozer-image {
    transform: translate(160%, 0%);
  }

  .animation-block-header__katok-image {
    transform: translate(160%, -5%);
  }

  .animation-block-header__pogruzchik-image {
    transform: translate(160%, -5%);
  }
}

@media (min-width: 2200px) {
  .category-technic::before {
    background-position-x: 30%;
  }
}

@media (min-width: 2240px) {
  .animation-block-header__container {
    margin: -650px 100px 0 0px;
  }
}

@media (min-width: 2300px) {
  .about__image::before {
    left: 610px;
  }
}

@media (min-width: 2400px) {
  .category-technic::after {
    background-position: right;
  }
}

@media (min-width: 2450px) {
  .category-technic::before {
    background-position-x: 38%;
  }
}

@media (min-width: 2500px) {
  .animation-block-header__container {
    margin: -650px 240px 0 0px;
  }

  .animation-block-header__buldozer-image {
    transform: translate(180%, 0%);
  }

  .animation-block-header__katok-image {
    transform: translate(180%, 0%);
  }
}

@media (max-width: 1870px) {
  .animation-block-header__item {
    height: 1300px;
  }

  .animation-block-header__image {
    width: 228px;
  }

  .animation-block-header__top-image {
    top: 65%;
    left: 10%;
  }

  .animation-block-header__top-image img {
    width: 500px;
  }

  .animation-block-header__pogruzchik-image {
    min-width: 570px;
  }

  .animation-block-header__background {
    width: 230px;
  }

  .animation-block-header__mouseover {
    width: 230px;
  }

  .present__container {
    height: 720px;
  }
}

@media (max-width: 1600px) {
  .about__container {
    max-width: 1300px;
  }

  .about__image img {
    width: 540px;
  }

  .category-technic::before {
    background-size: contain;
    padding: 0 250px 0 0;
    left: -10%;
  }

  .category-technic::after {
    background-size: contain;
    background-position-x: 0;
    width: 900px;
    right: -140px;
    top: 450px;
  }

  .category-technic__container {
    max-width: 1200px;
  }

  .category-technic__button {
    background-color: #FFFFFF;
  }

  .technic-park__image::before {
    left: -50px;
  }

  .technic-park__image::after {
    right: -87px;
  }

  .technic-park__background {
    max-width: 1240px;
  }

  .services__container {
    max-width: 1200px;
  }

  .slider-services__button-next {
    right: -20px;
  }

  .slider-services__button-prev {
    left: -20px;
  }

  .form__container {
    justify-content: start;
  }

  .form__text-block {
    margin: 0 60px 0 0;
  }
}

@media (max-width: 1570px) {
  .about__image {
    margin: 0 45px 0 0;
  }
}

@media (max-width: 1550px) {
  .animation-block-header {
    height: 650px;
  }

  .animation-block-header__container {
    margin: -300px -100px 0 0px;
  }

  .animation-block-header__item {
    height: 800px;
    margin: 0 5px;
  }

  .animation-block-header__image {
    width: 200px;
  }

  .animation-block-header__top-image {
    top: 55%;
    left: 10%;
  }

  .animation-block-header__top-image img {
    width: 400px;
  }

  .animation-block-header__katok-image {
    min-width: 410px;
  }

  .animation-block-header__pogruzchik-image {
    min-width: 500px;
  }

  .animation-block-header__background {
    width: 202px;
  }

  .animation-block-header__mouseover {
    width: 202px;
  }

  .present__container {
    height: 570px;
  }

  .present__title {
    font-size: 36px;
  }

  .present__text {
    font-size: 16px;
    max-width: 610px;
  }
}

@media (max-width: 1500px) {
  .category-technic__content {
    max-width: 1185px;
    margin: 0 auto;
  }
}

@media (max-width: 1400px) {
  .navigation-header.expand::before {
    display: none;
  }

  .navigation-header.expand::after {
    display: none;
  }

  .navigation-header {
    min-width: 490px;
    height: 59px;
    justify-content: flex-end;
  }

  .navigation-header::before {
    content: '';
    position: absolute;
    background-image: url(../img/icon-svg/arrow.svg);
    background-repeat: no-repeat;
    background-size: auto;
    top: 25px;
    width: 15px;
    height: 15px;
    left: 40px;
    -webkit-animation: animation_arrow_left 1.3s ease-out infinite;
            animation: animation_arrow_left 1.3s ease-out infinite;
  }

  .navigation-header::after {
    content: '';
    position: absolute;
    background-image: url(../img/icon-svg/arrows.svg);
    background-repeat: no-repeat;
    background-size: auto;
    top: 25px;
    width: 15px;
    height: 15px;
    left: 70px;
    -webkit-animation: animation_arrow_right 1.3s ease-out infinite;
            animation: animation_arrow_right 1.3s ease-out infinite;
  }

@-webkit-keyframes animation_arrow_right {
    0% {
      transform: rotate(90deg) translate(0, 0px);
    }

    50% {
      transform: rotate(90deg) translate(0, 5px);
    }

    100% {
      transform: rotate(90deg) translate(0, 0px);
    }
}

@keyframes animation_arrow_right {
    0% {
      transform: rotate(90deg) translate(0, 0px);
    }

    50% {
      transform: rotate(90deg) translate(0, 5px);
    }

    100% {
      transform: rotate(90deg) translate(0, 0px);
    }
}

@-webkit-keyframes animation_arrow_left {
    0% {
      transform: rotate(90deg) translate(0, 5px);
    }

    50% {
      transform: rotate(90deg) translate(0, 0px);
    }

    100% {
      transform: rotate(90deg) translate(0, 5px);
    }
}

@keyframes animation_arrow_left {
    0% {
      transform: rotate(90deg) translate(0, 5px);
    }

    50% {
      transform: rotate(90deg) translate(0, 0px);
    }

    100% {
      transform: rotate(90deg) translate(0, 5px);
    }
}

  .menu-catalog__item {
    display: none;
  }
}

@media (max-width: 1390px) {
  .image-about__background::before {
    width: 460px;
    height: 200px;
  }

  .image-about__background::after {
    width: 480px;
    height: 160px;
  }
}

@media (max-width: 1370px) {
  .present__title {
    font-size: 34px;
  }

  .present__text {
    font-size: 15px;
    max-width: 540px;
  }

  .present__buttons {
    height: 60px;
    font-size: 18px;
    width: 420px;
  }
}

@media (max-width: 1350px) {
  .advantages-block {
    padding: 80px 0 0px 0;
  }

  .advantages-block__container {
    flex-wrap: wrap;
  }

  .advantages-block__item {
    flex: 0 1 33%;
    margin: 0 0 60px 0;
  }

  .advantages-block__item:nth-child(3) {
    border: none;
  }
}

@media (max-width: 1300px) {
  .category-technic::before {
    top: 50px;
  }

  .category-technic::after {
    top: 650px;
  }

  .category-technic__content {
    max-width: 890px;
  }

  .category-technic__content::after {
    top: 35%;
  }

  .form__container {
    justify-content: center;
  }

  .footer__contants-column {
    margin: 0 50px 0 0;
  }

  .footer__services-column {
    flex: 0 1 270px;
  }
}

@media (max-width: 1260px) {
  .about__text {
    font-size: 16px;
    padding: 30px 70px 10px 0px;
  }
}

@media (max-width: 1250px) {
  .slider-services__button-next {
    right: 15px;
  }

  .slider-services__button-prev {
    left: 15px;
  }
}

@media (max-width: 1200px) {
  .animation-block-header__image {
    width: 180px;
  }

  .animation-block-header__top-image {
    left: 15%;
  }

  .animation-block-header__top-image img {
    width: 370px;
  }

  .animation-block-header__katok-image {
    min-width: 400px;
  }

  .animation-block-header__background {
    width: 182px;
  }

  .animation-block-header__mouseover {
    width: 182px;
  }

  .present__container {
    height: 510px;
  }

  .present__title {
    font-size: 30px;
  }

  .present__text {
    margin: 30PX 0 0 0;
  }
}

@media (max-width: 1185px) {
  .category-technic__content {
    max-width: 890px;
  }
}

@media (max-width: 1150px) {
  .about__content {
    flex-direction: column;
  }

  .about__text {
    padding: 0 20px;
    font-size: 18px;
  }

  .about__image img {
    width: 100%;
  }

  .about__image {
    margin: 50px 0 0 0;
  }
}

@media (max-width: 1100px) {
  .animation-block-header {
    display: none;
  }

  .present__container {
    position: relative;
    text-align: center;
  }

  .present__title {
    margin: 0 auto;
  }

  .present__text {
    margin: 45px auto 0 auto;
  }

  .present__buttons {
    margin: 75px auto 0 auto;
  }

  .footer {
    padding: 50px 0 30px 0;
  }

  .footer__container {
    flex-direction: column-reverse;
  }

  .footer__row {
    justify-content: center;
  }

  .footer__contants-column {
    margin: 40px auto 0 auto;
    width: 270px;
    flex: 1 1 auto;
  }

  .footer__copyright {
    text-align: center;
  }
}

@media (max-width: 1070px) {
  .header__menu-burger {
    display: block;
  }

  .navigation-header::before {
    display: none;
  }

  .navigation-header::after {
    display: none;
  }

  .navigation-header {
    flex-direction: column-reverse;
    position: fixed;
    top: 65px;
    transform: translate(100%, 0);
    transition: all 0.7s ease 0s;
    opacity: 0;
    visibility: hidden;
    width: auto;
    height: auto;
    font-size: 20px;
    padding: 20px 0;
    top: 75px;
  }

  .navigation-header__search {
    font-size: 20px;
    margin: 0;
  }

  .navigation-header__search input {
    border: none;
    border-radius: 0;
    border-bottom: 1px solid #444444;
    width: 400px;
  }

  .navigation-header__btn-search {
    left: auto;
    right: 15px;
  }

  .navigation-header__phone {
    padding: 20px 0 40px 0;
  }

  .menu-catalog {
    flex-direction: column;
    margin: 30px 0 0 0;
  }

  .menu-catalog__item {
    display: block;
  }

  .menu-catalog__link::before {
    display: none;
  }

  .dropmenu-catalog {
    display: none;
  }

  .dropmenu-catalog__list {
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
  }

  .icon-menu {
    display: block;
  }
}

@media (max-width: 1024px) {
  .technic-park__image::before {
    left: -100px;
  }

  .technic-park__image::after {
    right: -151px;
  }
}

@media (max-width: 992px) {
  .category-technic::after {
    top: 1200px;
  }

  .advantages-block__item {
    flex: 1 1 48%;
  }

  .advantages-block__item:nth-child(2) {
    border: none;
  }

  .advantages-block__item:nth-child(3) {
    border-right: 1.5px solid #D9D9D9;
  }

  .form__container {
    flex-direction: column;
    align-items: center;
  }

  .form__text-block {
    margin: 0;
  }

  .form__title {
    text-align: center;
  }

  .form__text {
    text-align: center;
  }

  .form__input-block {
    margin: 50px 0 0 0;
    padding: 0 20px;
  }

  .form__button {
    margin: 0 auto;
  }
}

@media (max-width: 890px) {
  .category-technic__content {
    max-width: 592px;
  }
}

@media (max-width: 768px) {
  .present__title {
    font-size: calc(20px + (34 - 20) * ((100vw - 320px) / (768 - 320)));
  }

  .about__content::before {
    display: none;
  }

  .about__image {
    margin: 50px 50px 0px 50px;
  }

  .technic-park__image::before {
    left: -180px;
  }

  .technic-park__image::after {
    right: -211px;
  }

  .footer__row {
    flex-direction: column;
    align-items: center;
  }

  .footer__company-column {
    flex: 1 1 auto;
    width: 270px;
  }

  .footer__title {
    padding: 0 20px 0 0;
    width: -webkit-max-content;
    width: -moz-max-content;
    width: max-content;
    position: relative;
    margin: 10px 0 20px 0;
  }

  .footer__title::before {
    display: inline-block;
    position: absolute;
    transform: rotate(90deg);
    font-size: 12px;
    top: 1px;
    right: 0;
  }

  .footer__list {
    position: absolute;
    transform: scaleY(0);
    transform-origin: 0 0;
    font-size: 17px;
    opacity: 0;
    visibility: hidden;
  }

  .footer__technic-column {
    flex: 1 1 auto;
    width: 270px;
    margin: 10px 0 0 0;
  }

  .footer__services-column {
    flex: 1 1 auto;
    margin: 20px 0 0 0;
    width: 270px;
  }
}

@media (max-width: 600px) {
  .present__container {
    height: 450px;
  }

  .present__text {
    margin: 30px auto 0 auto;
    font-size: 14px;
  }

  .present__buttons {
    margin: 65px auto 0 auto;
  }

  .image-about__background::before {
    width: 350px;
    height: 100px;
    right: -30px;
  }

  .image-about__background::after {
    width: 350px;
    height: 100px;
    left: -30px;
    bottom: -30px;
  }

  .category-technic::before {
    display: none;
  }

  .category-technic::after {
    display: none;
  }

  .form__input-block::before {
    display: none;
  }
}

@media (max-width: 592px) {
  .category-technic__content {
    justify-content: center;
  }

  .category-technic__content::before {
    display: none;
  }

  .category-technic__content::after {
    display: none;
  }

  .item-categoty-technic {
    flex: 1 1 100%;
    font-size: 22px;
  }
}

@media (max-width: 550px) {
  .about__image::before {
    top: 40%;
  }
}

@media (max-width: 530px) {
  .navigation-header.active {
    width: auto;
    left: 15px;
  }

  .navigation-header {
    width: 100%;
    min-width: auto;
  }

  .navigation-header__search {
    width: 90%;
  }

  .navigation-header__search input {
    width: 100%;
    padding: 0;
  }
}

@media (max-width: 520px) {
  .present__buttons {
    width: 100%;
    height: 50px;
    font-size: 18px;
  }

  .advantages-block__item {
    flex: 1 1 100%;
    border: none;
  }
}

@media (max-width: 500px) {
  .technic-park__container {
    padding: 0 0 90px 0;
  }

  .technic-park__image::before {
    background-size: contain;
    left: -100px;
  }

  .technic-park__image::after {
    background-size: contain;
    right: -250px;
  }

  .technic-park__image {
    height: 60px;
    margin: 0 auto 20px auto;
  }

  .technic-park__background {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .technic-park__brands {
    width: 550px;
    height: 40px;
    background-size: contain;
  }

  .technic-park__brands::after {
    height: 40px;
    background-size: contain;
  }

  .form__container {
    padding: 0 20px;
  }

  .form__title {
    padding: 0;
  }

  .form__text {
    padding: 0;
  }

  .form__input-block {
    width: 100%;
  }

  .form__placeinput {
    max-width: 100%;
  }

  .form__input {
    width: auto;
  }

  .form__input-select {
    width: 100%;
  }
}

@media (max-width: 480px) {
  .about__text {
    padding: 0;
  }

  .about__image {
    margin: 50px 30px 0 30px;
  }

  .image-about__background::before {
    width: 250px;
    height: 80px;
  }

  .image-about__background::after {
    width: 250px;
    height: 80px;
  }
}

@media (max-width: 460px) {
  .category-technic__title {
    font-size: 28px;
  }
}

@media (max-width: 400px) {
  .header__logo {
    padding: 0 100px 0 0;
  }

  .header__logo img {
    width: 100%;
  }

  .category-technic__text {
    font-size: 16px;
  }

  .item-categoty-technic {
    font-size: 18px;
  }

  .technic-park__brands {
    width: 550px;
    height: 50px;
  }

  .technic-park__brands::after {
    height: 50px;
  }
}

@media (max-width: 390px) {
  .about__image {
    margin: 40px 10px 0 10px;
  }

  .image-about__background::before {
    right: -15px;
    top: -20px;
  }

  .image-about__background::after {
    left: -15px;
    bottom: -20px;
  }

  .technic-park__title {
    font-size: 28px;
  }

  .services__title {
    font-size: 28px;
  }
}

@media (max-width: 370px) {
  .form__title {
    font-size: 30px;
  }

  .form__text {
    font-size: 14px;
    margin: 20px 0 0 0;
  }
}

@media (max-width: 350px) {
  .category-technic__title {
    font-size: 24px;
  }
}